# NPM
node_modules
npm-debug.log

# WebStorm user-specific
.idea/workspace.xml
.idea/tasks.xml

# Generate data
coverage
dist
output
test
specs/data/boxTexturedUnoptimized/output
doc
*.tgz
.nyc_output
