# NPM
node_modules
npm-debug.log
package-lock.json

# WebStorm user-specific
.idea/workspace.xml
.idea/tasks.xml

# VS Code user-specific
.vscode

# Generate data
.eslintcache
coverage
dist
output
test
*.tgz
.nyc_output
doc/*
!doc/gltf.png
