/.vscode
/.idea
/dist
/coverage
/doc/*
/output
/specs
/test
.editorconfig
.eslintcache
.eslintignore
.eslintrc.json
.gitattributes
.nyc_output
.npmignore
.prettierignore
.travis.yml
.appveyor.yml
gulpfile.js
*.tgz
!doc/gltf.png
